<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/main.css">
        <script type="text/javascript" src="/assets/js/index.js"></script>
        {% if page.stylesheets %}
          {% for sheet in page.stylesheets %}
            <link rel="stylesheet" href="/assets/apps{{ page.url }}{{ sheet }}">
          {% endfor %}
        {% endif %}
    </head>
    <body{% if page.url == "/index.html" %} id="home"{% endif %}>

      <div id="header">
        <div class="centre">
          <h1 class="title"><a href="/"><img src="/assets/logo_{% if page.url == "/index.html" %}lg{% else %}sm{% endif %}.png" alt="Mirobot Apps" /></a></h1>
        </div>
      </div>

      {{ content }}
      
      <script type="text/javascript">
        [].forEach.call(document.links, function(l) {
          l.href = l.href + document.location.hash;
        });
      </script>
    </body>
</html>
